<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
      <servlet-name>calendar</servlet-name>
      <servlet-class>calendar.Main</servlet-class>
      <init-param>
	<param-name>servlet_host</param-name>
	<param-value>@SERVLET_HOST@</param-value>
      </init-param>
    </servlet>
    <servlet-mapping>
      <servlet-name>calendar</servlet-name>
      <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- General description of your web application -->

    <display-name>Calendar Web Application</display-name>

    <description>
       A toy calendar servlet.
    </description>


    <!-- Define the default session timeout for your application,
         in minutes.  From a servlet or JSP page, you can modify
         the timeout for a particular session dynamically by using
         HttpSession.getMaxInactiveInterval(). -->

    <session-config>
      <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>

</web-app>
