.*.sw?
*.bak
shipit
timeout
lockserv
gettimeofday
index.html.en
index.html.de
civs_create.html.en
civs_create.html.de
civs_create.html.fr
civs_create.html.es
civs_create.html.uk
civs_create.html.ta
civs_create.html.hi
civs_create.html.ko
civs_create.html.it
civs_create.html.nl
civs_create.html.ja
civs_create.html.zh
civs_hdr.js
index.html.es
index.html.fr
index.html.hi
index.html.it
index.html.ja
index.html.ko
index.html.nl
index.html.ta
index.html.uk
.DS_Store
