# crud
.*.sw?
*.bak
.DS_Store

# derived files
src/timeout
src/lockserv
src/gettimeofday
html/index.html.??
html/civs_create.html.??
js/civs_hdr.js
js/civs_hdr.js.2.??


# local stuff
shipit
data
config/*
status.html
