<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
      <servlet-name>civs</servlet-name>
      <servlet-class>civs.Main</servlet-class>
      <init-param>
	<param-name>CIVS_data_dir</param-name>
	<param-value>@CIVS_DATA_DIR@</param-value>
      </init-param>
      <init-param>
	<param-name>style_sheet_url</param-name>
	<param-value>@STYLE_SHEET_URL@</param-value>
      </init-param>
      <init-param>
        <param-name>CIVS_url</param-name>
	<param-value>@CIVS_URL@</param-value>
      </init-param>
      <init-param>
        <param-name>CIVS_host</param-name>
	<param-value>@CIVS_HOST@</param-value>
      </init-param>
      <init-param>
	<param-name>servlet_url</param-name>
	<param-value>@SERVLET_URL@</param-value>
      </init-param>
      <init-param>
	<param-name>servlet_host</param-name>
	<param-value>@SERVLET_HOST@</param-value>
      </init-param>
      <init-param>
	<param-name>supervisor</param-name>
	<param-value>@SUPERVISOR@</param-value>
      </init-param>
      <init-param>
	<param-name>local_debug</param-name>
	<param-value>@LOCAL_DEBUG@</param-value>
      </init-param>
    </servlet>
    <servlet-mapping>
      <servlet-name>civs</servlet-name>
      <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <!-- General description of your web application -->

    <display-name>Condorcet Internet Voting Service</display-name>

    <description>
       A public internet voting service using Condorcet
       algorithms for deciding ranking of the choices.
    </description>


    <!-- Define the default session timeout for your application,
         in minutes.  From a servlet or JSP page, you can modify
         the timeout for a particular session dynamically by using
         HttpSession.getMaxInactiveInterval(). -->

    <session-config>
      <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>

</web-app>
