#!@PERL@

use strict;
use warnings;

use lib '@CGIBINDIR@';
use civs_common;
use CGI qw(:standard);
use Digest::MD5 qw(md5_hex);
use DB_File;
use Socket;
use IO::Handle;

my $thisurl = $civs_bin_path."/control@PERLEXT@";

HTML_Header("CIVS Election Control");
use election 1.02;

my $control_key = param('key');    
my $authorization_key = param('akey');

CIVS_Header("Election control");

CheckElectionID;
CheckControlKey($control_key);
CheckAuthorizationKeyForAddingVoter($authorization_key);

print h1("Election: $title");

if (!IsStarted) {
    print "<form method=\"POST\"
		action=\"$civs_bin_path/start_election@PERLEXT@\"
		enctype=\"multipart/form-data\"
		name=\"Start\">\n";
    print '<p>The election has not yet started. Press this button to start it: ';
    print hidden('id', $election_id);
    print hidden('key', $control_key);
    print hidden('akey', $authorization_key)
		if defined($authorization_key);
    print '<input type="submit" value="Start election" name="start">';
    print '</p></form>';
} elsif (!IsStopped) {
    print "<form method=\"POST\"
		action=\"$civs_bin_path/close@PERLEXT@\"
		enctype=\"multipart/form-data\"
		name=\"Close\">\n";
    print '<p>The election is in progress. Press this button to end it: ';
    print hidden('id', $election_id);
    print hidden('key', $control_key);
    print '<input type="submit" value="End election" name="close">'."\n";
    print '</p></form>'."\n";

    if ($writeins eq 'yes') {
		if (param('nowriteins')) {
	    	$edata{'writeins'} = $writeins = 'no';
		    print p('Write-in choices have been disabled');
		} else {
	    	print "<form method=\"POST\"
				action=\"$civs_bin_path/control@PERLEXT@\"
				enctype=\"multipart/form-data\"
				name=\"Nowriteins\">\n";
		    print p('Write-in choices are currently allowed. Press this
			    button to stop allowing new write-ins.',
			    hidden('id', $election_id),
		    	hidden('key', $control_key),
			'<input type="submit" value="Disallow write-ins" name="nowriteins">');
		    print hidden('akey', $authorization_key)
			    if defined($authorization_key);
		    print "</form>\n";
		}
    }
    if ($public eq 'yes') {
		my $url = "http://$thishost$civs_bin_path/vote@PERLEXT@?id=$election_id";
		$url .= "&akey=$authorization_key" 
			if defined($authorization_key);
		print p("This is a public poll. You may share the following link
                 with voters allow them to vote."),
              p("<tt><a href=\"$url\">$url</a></tt>").$cr;
    }
} else {    
	&CloseDatabase;
    print p("The election has ended. <a href=\"$civs_bin_path/results@PERLEXT@?id=$election_id\">Election results</a> are available.");
}

print "Election supervisor: $name (<tt>$email_addr</tt>)", br();
my $num_auth_string;
if (IsStarted or $num_auth) {
	$num_auth_string = "$num_auth"
} else {
	my $waiting = $#addresses + 1;
	$num_auth_string = "0 ($waiting voters will be authorized when the election is started)";
}
print "Total authorized voters: $num_auth_string", br() unless $public eq 'yes';
$num_votes += 0;
print "Actual votes cast so far: $num_votes", br();
print "Election ends $election_end.", br();

if ($writeins eq 'yes') {
    print 'Write-in choices are allowed.', br();
} else {
    print 'Write-in choices are not allowed.', br();
}

if ($proportional eq 'yes') {
    if ($use_combined_ratings) {
	print 'This election uses the proportional representation
	    algorithm with the combined-ratings voter criterion.',br();
    } else {
	print 'This election uses the proportional representation
	    algorithm with the best-candidate voter criterion.',br();
    }
    if ($num_choices == 1) {
	print p('Proportional representation is enabled
	    but there is only a single winner. Therefore, proportional
	    representation mode will have no effect.'), $cr;
    }
}

if ($ballot_reporting eq 'yes') {
    print 'Detailed anonymized ballot reporting is enabled.', br();
} else {
    print 'Detailed anonymized ballot reporting is disabled.', br();
}
 
print h2('Description:'), p($description);
print h2("Candidates");
my $wintxt;
if ($num_winners == 1) {
    $wintxt = "candidate";
} else {
    $wintxt = "$num_winners candidates";
}
print p("The top $wintxt will win the election.");
print "<ul>";
for (my $j = 0; $j < $num_choices; $j++) {
    print li($choices[$j]);
}
print "</ul>";

print h2("Add voters");

print p("Enter e-mail addresses of voters, one per line. These
may be new voters or existing voters who have not voted yet.
In a private election, giving the e-mail address of an already 
existing voter " .b("will not") . " let that voter vote twice.
It will only resend the voter an invitation to vote.
In a public poll, only a token attempt is made to prevent
multiple voting.");
print "<form method=\"POST\"
	     action=\"$civs_bin_path/add_voters@PERLEXT@\"
	     enctype=\"multipart/form-data\"
	     name=\"AddVoters\">\n";
print hidden('id', $election_id);
print hidden('key', $control_key);
print hidden('akey', $authorization_key)
	if defined($authorization_key);
print p('<textarea rows="2" name="new_addresses" cols="50"></textarea>');
print p('Upload file: <input id=new_addresses_file type=file name="new_addresses_file">');
print '<input type="submit" value="Add voters" name="add">';
print '</form>';

print end_html();

exit 0;
