#!@PERL@ -I@CGIBINDIR@

use civs_common;
use CGI qw(:standard);
use Digest::MD5 qw(md5_hex);
use DB_File;
use Socket;
use IO::Handle;

$thisurl = $civs_bin_path."/control";

HTML_Header("CIVS Election Control");
use election;

my $control_key = param('key');    

CIVS_Header("Election control");

CheckElectionID;
CheckControlKey($control_key);

print h1("Election: $title");

if (!IsStarted) {
    print "<form method=POST
		action=\"$civs_bin_path/start_election\"
		enctype=\"multipart/form-data\"
		name=\"Start\">\n";
    print '<p>The election has not yet started. Press this button to start it: ';
    print hidden('id', $election_id);
    print hidden('key', $control_key);
    print '<input type="submit" value="Start election" name="start">';
    print '</p></form>';
} elsif (!IsStopped) {
    print "<form method=POST
		action=$civs_bin_path/close
		enctype=\"multipart/form-data\"
		name=\"Close\">\n";
    print '<p>The election is in progress. Press this button to end it: ';
    print hidden('id', $election_id);
    print hidden('key', $control_key);
    print '<input type="submit" value="End election" name="close">'."\n";
    print '</p></form>'."\n";

    if ($writeins eq 'yes') {
	if (param('nowriteins') ne '') {
	    $edata{'writeins'} = $writeins = 'no';
	    print p('Write-in choices have been disabled');
	} else {
	    print "<form method=POST
			action=$civs_bin_path/control
			enctype=\"multipart/form-data\"
			name=\"Nowriteins\">\n";
	    print p('Write-in choices are currently allowed. Press this
		    button to stop allowing new write-ins.',
		    hidden('id', $election_id),
		    hidden('key', $control_key),
		'<input type="submit" value="Disallow write-ins" name="nowriteins">');
	    print "</form>\n";
	}
    }
    if ($public eq 'yes') {
	$url = "http://$thishost$civs_bin_path/vote?id=$election_id";
	print p("This is an open election. Voting URL:
	        <tt><a href=\"$url\">$url</a></tt>").$cr;
    }
} else {
    print p("The election has ended. <a href=\"$civs_bin_path/results?id=$election_id\">Election results</a> are available.");
}

print "Election supervisor: $name (<tt>$email_addr</tt>)", br();
if (IsStarted or $num_auth > 0) {
	$num_auth_string = "$num_auth"
} else {
	$waiting = $#addresses + 1;
	$num_auth_string = "0 ($waiting voters will be authorized when the election is started)";
}
print "Total authorized voters: $num_auth_string", br();
$num_votes += 0;
print "Actual votes cast so far: $num_votes", br();
print "Election ends $election_end", br();

if ($writeins eq 'yes') {
    print 'Write-in choices are allowed.', br();
} else {
    print 'Write-in choices are not allowed.', br();
}

if ($proportional eq 'yes') {
    if ($use_combined_weights) {
	print 'This election uses the proportional representation
	    algorithm with the combined-weights voter criterion.',br();
    } else {
	print 'This election uses the proportional representation
	    algorithm with the best-candidate voter criterion.',br();
    }
}

if ($ballot_reporting eq 'yes') {
    print 'Detailed anonymized ballot reporting is enabled.', br();
} else {
    print 'Detailed anonymized ballot reporting is disabled.', br();
}
 
print h2('Description:'), p($description);
print h2("Candidates");
if ($num_winners == 1) {
    $wintxt = "candidate";
} else {
    $wintxt = "$num_winners candidates";
}
print p("The top $wintxt will win the election.");
print "<ul>";
for ($j = 0; $j < $num_choices; $j++) {
    print li($choices[$j]);
}
print "</ul>";

print h2("Add voters");

print p("Enter e-mail addresses of voters, one per line. These
may be new voters or existing voters who have not voted yet.
Giving the e-mail address of an already existing voter will
let that voter vote twice.");
print "<form method=POST
	     action=$civs_bin_path/add_voters
	     enctype=\"multipart/form-data\"
	     name=\"AddVoters\">\n";
print hidden('id', $election_id);
print hidden('key', $control_key);
print p('<textarea rows="2" name="new_addresses" cols="50"></textarea>');
print p('Upload file: <input id=new_addresses_file type=file name="new_addresses_file">');
print '<input type="submit" value="Add voters" name="add">';
print '</form>';

print end_html();

exit 0;
